.container {
    width: 400px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

img {
    height: 600px;
}

table {
   margin: 10px;
   table-layout: fixed;
}

td {
    text-align:center;
    width: 200px;
}

th {
    text-align:left;
    width: 100px;
}
