.container {
    width: 550px;
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

img {
    height: 300px;
    overflow-x: scroll;
    display : block;
    margin : auto;
}

table {
   margin: 10px;
   table-layout: fixed;
}

td {
    text-align:center;
    width: 200px;
}

th {
    text-align:left;
    width: 200px;
}
